@model Blog

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid mx-5 my-3">
    <h3>Slider image</h3>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control" asp-for="Photo">
            <span class="text-danger" asp-validation-for="Photo"></span>

            <label for="header">Title</label>
            <input class="form-control" asp-for="Title">
            <span class="text-danger" asp-validation-for="Title"></span>

            <label for="title">By</label>
            <input class="form-control" asp-for="By">
            <span class="text-danger" asp-validation-for="By"></span>

            <label for="description">Article Header</label>
            <input class="form-control" asp-for="ArticleHeader">
            <span class="text-danger" asp-validation-for="ArticleHeader"></span>

            <label for="description">Article Quote </label>
            <input class="form-control" asp-for="ArticleQuote">
            <span class="text-danger" asp-validation-for="ArticleQuote"></span>

            <label for="description">Article Context</label>
            <input class="form-control" asp-for="ArticleContext">
            <span class="text-danger" asp-validation-for="ArticleContext"></span>
        </div>
        <a class="btn btn-primary" asp-controller="Blog" asp-action="Index">Back</a>
        <a class="btn btn-warning" asp-controller="Blog" asp-action="Create">Reset</a>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>

