@model Widget

@{
    ViewData["Title"] = "Update";
}

<div class="container-fluid mx-5 my-3">
    
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div> <img src="~/assets/img/slider/@Model.Image" alt="Alternate Text" /></div>

        <div class="form-group">
            <input class="form-control" asp-for="Photo">
            <span class="text-danger" asp-validation-for="Photo"></span>

            <label for="header">Fullname</label>
            <input class="form-control" asp-for="Fullname">
            <span class="text-danger" asp-validation-for="Fullname"></span>

            <label for="title">Role</label>
            <input class="form-control" asp-for="Role">
            <span class="text-danger" asp-validation-for="Role"></span>

           
        </div>
        <a class="btn btn-primary" asp-controller="Widget" asp-action="Index">Back</a>
        <a class="btn btn-warning" asp-controller="Widget" asp-action="Create">Reset</a>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

